

body {
    background-color:#E5E0FF;
}

h1 {
    color: #66BfBf;
}
h3 {
    color: #66BfBf;
}
h4 {
    color: #66BfBf;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    height: none;
    width: 5%;
}

